{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">Login</div>
    <div class="btn-group">
        <form id="loginForm" method="POST" action="{{ url_for('auth.session_login') }}">
            <label for="user">Username:</label><br>
            <input type="text" id="user" name="username" autocomplete="given-name" required /><br><br>
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="password" required /><br><br>
            <button class="btn btn-primary max-w-[100px]" type="submit">Login</button>
        </form>
        <div class="mt-4">
            <a class="btn btn-secondary" href="{{ url_for('auth.login_github') }}">Login with GitHub</a>
            <a class="btn btn-secondary" href="{{ url_for('auth.login_google') }}">Login with Google</a>
        </div>
    </div>
</div>
{% endblock %}
