<html lang="en">

<head>
    <title>Accounting</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body class="one">
    <div style="padding: 10px; background: #f0f0f0; border-bottom: 1px solid #ccc; margin-bottom: 10px;">
        <a href="{{ url_for('index.store_sum') }}" style="text-decoration: none; color: #3498db; font-weight: bold;">&larr; Back to Calculator</a>
    </div>
    <div>
        <div class="main">
            <div class="white">LOTTO</div>
            <div class="white">1</div>
            <div class="white">2</div>
            <div class="white">3</div>
            <div class="white">4</div>
            <div class="white">5</div>
            <div class="white">7</div>
            <div class="white">10</div>
            <div class="white">20</div>
            <div class="white">30</div>
            <div class="white">50</div>
            <div class="white">100</div>
        </div>
        <div class="main">
            <div class="white">---------LOTTO---------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">CIGAR</div>
            <div class="white">1</div>
            <div class="white">2</div>
            <div class="white">3</div>
            <div class="white">4</div>
            <div class="white">5</div>
            <div class="white">6</div>
            <div class="white">7</div>
            <div class="white">8</div>
            <div class="white">9</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">---------CIGAR---------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">OTHER</div>
            <div class="white">SINGLE</div>
            <div class="white">PACK</div>
            <div class="white">SNUFF</div>
            <div class="white">HEETS</div>
            <div class="white">VAPE</div>
            <div class="white">Nordic</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">------OTHER------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
    </div>
    <div class="one">
        <div class="main">
            <div class="white">LOTTO</div>
            <div class="white">1</div>
            <div class="white">2</div>
            <div class="white">3</div>
            <div class="white">4</div>
            <div class="white">5</div>
            <div class="white">7</div>
            <div class="white">10</div>
            <div class="white">20</div>
            <div class="white">30</div>
            <div class="white">50</div>
            <div class="white">100</div>
        </div>
        <div class="main">
            <div class="white">---------LOTTO---------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">CIGAR</div>
            <div class="white">1</div>
            <div class="white">2</div>
            <div class="white">3</div>
            <div class="white">4</div>
            <div class="white">5</div>
            <div class="white">6</div>
            <div class="white">7</div>
            <div class="white">8</div>
            <div class="white">9</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">---------CIGAR---------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">OTHER</div>
            <div class="white">SINGLE</div>
            <div class="white">PACK</div>
            <div class="white">SNUFF</div>
            <div class="white">HEETS</div>
            <div class="white">VAPE</div>
            <div class="white">Nordic</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">------OTHER------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
    </div>
    <div class="one">
        <div class="main">
            <div class="white">LOTTO</div>
            <div class="white">1</div>
            <div class="white">2</div>
            <div class="white">3</div>
            <div class="white">4</div>
            <div class="white">5</div>
            <div class="white">7</div>
            <div class="white">10</div>
            <div class="white">20</div>
            <div class="white">30</div>
            <div class="white">50</div>
            <div class="white">100</div>
        </div>
        <div class="main">
            <div class="white">---------LOTTO---------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">CIGAR</div>
            <div class="white">1</div>
            <div class="white">2</div>
            <div class="white">3</div>
            <div class="white">4</div>
            <div class="white">5</div>
            <div class="white">6</div>
            <div class="white">7</div>
            <div class="white">8</div>
            <div class="white">9</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">---------CIGAR---------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">OTHER</div>
            <div class="white">SINGLE</div>
            <div class="white">PACK</div>
            <div class="white">SNUFF</div>
            <div class="white">HEETS</div>
            <div class="white">VAPE</div>
            <div class="white">Nordic</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">------OTHER------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
    </div>
    <div class="one">
        <div class="main">
            <div class="white">LOTTO</div>
            <div class="white">1</div>
            <div class="white">2</div>
            <div class="white">3</div>
            <div class="white">4</div>
            <div class="white">5</div>
            <div class="white">7</div>
            <div class="white">10</div>
            <div class="white">20</div>
            <div class="white">30</div>
            <div class="white">50</div>
            <div class="white">100</div>
        </div>
        <div class="main">
            <div class="white">---------LOTTO---------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">CIGAR</div>
            <div class="white">1</div>
            <div class="white">2</div>
            <div class="white">3</div>
            <div class="white">4</div>
            <div class="white">5</div>
            <div class="white">6</div>
            <div class="white">7</div>
            <div class="white">8</div>
            <div class="white">9</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">---------CIGAR---------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">OTHER</div>
            <div class="white">SINGLE</div>
            <div class="white">PACK</div>
            <div class="white">SNUFF</div>
            <div class="white">HEETS</div>
            <div class="white">VAPE</div>
            <div class="white">Nordic</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
        <div class="main">
            <div class="white">------OTHER------</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
            <div class="white">-</div>
        </div>
    </div>
</body>

</html>