<!DOCTYPE html>
<html>

<head>
    <title>{{ title or "Dashboard" }}</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
</head>

<body>
    <nav>
        {% if session.access_token %}
        <a href="{{ url_for('suspicious.view_suspicious') }}">HOME</a>
        <a href="{{ url_for('todo.todo_page') }}">TODO</a>
        <a href="{{ url_for('auth.session_logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('auth.show_login_form') }}">Login</a>
        <a href="{{ url_for('auth.session_register') }}">Register</a>
        {% endif %}
    </nav>

    <div class="content-container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>

</body>

</html>